body {
            background-image: url("satoru gojo.jpeg");
}

h1 {
            height: 100%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
}

