body {
            /* Chosen image, and its specific size */ 
            background-image: url("satoru gojo.jpeg");
            height: 100%;
            weight: 100%;
            
            /* Location and Repetition of image */ 
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            background-attachment: fixed;
}

h1 {
            /* Specifics of Text in Header 1 */ 
            background-color: #9a81c4;
            font-family: "Verdana";
            text-align: center;

            /* Size and Border of Text in Header 1 */ 
            margin: auto;
            border: 2px dotted blue;
            padding: 10px 15px 10px 15px;
            width: 218px;
            margin-bottom: 20px;
}

p {
            text-align: justify;
            background-color: hsl(262, 45%, 74%);
            font-style: italic;
            margin: auto;
            padding: 25px;
            border-top: 3px dotted black;
            border-right: 3px double black;
            border-bottom: 3px dashed black;
            border-left: 3px outset black;
            width: 444px;  
}

span {
            color: rgb(252, 163, 73);
            font-weight: bold;
            font-style: italic; 
            margin-left: 2px
            margin-right: 5px
            
}



