body {
            /* Chosen Image, and its Specific Size */ 
            background-image: url("satoru gojo.jpeg");
            height: 100%;
            weight: 100%;
            
            /* Location and Repetition of Image */ 
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            background-attachment: fixed;
}

h1 {
            /* Specifics of Text in Heading 1 */ 
            background-color: #9a81c4;
            font-family: "Verdana";
            text-align: center;

            /* Spacing and Border Details of Text's Box Outline in Heading 1 */ 
            margin: auto;
            border: 2px dotted blue;
            padding: 10px 15px 10px 15px;
            width: 250px;
            margin-bottom: 20px;
}

p {
            /* Specifics of Text in the Paragraph (excluding span) */ 
            background-color: hsl(262, 45%, 74%);
            font-family: "Monaco";
            font-style: italic;
            text-align: justify;

            /* Spacing and Border Details of Text's Box Outline in Paragraph (excluding span) */ 
            margin: auto;
            padding: 25px;
            border-top: 3px dotted black;
            border-right: 3px double black;
            border-bottom: 3px dashed black;
            border-left: 3px outset black;
            width: 500px;  
}

span {
            /* Specifics of Text under Span element */
            color: rgb(252, 163, 73);
            font-weight: bold;
            font-style: italic;
            font-family: "Georgia";

            /* Margin of Text under Span Element */
            margin-left: 2px
            margin-right: 5px
            
}



